{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
  {{ comment.get_user_name }}'s Comment | {{ block.super }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Comment</h1>
    <blockquote style="border:none;">
      <p class="lead">{{ comment.content|linebreaks }}</p>
      <footer>via <cite title="{{ comment.get_user_name }}">{{ comment.get_user_name }}</cite>, {{ comment.timestamp|timesince }} ago {% if comment.children.count == 1 %}&middot; 1 Comment {% elif comment.children.count > 1 %}&middot; {{ comment.children.count }} Comments {% endif %}</footer>
      <br/>
      <button type="button" class="btn btn-link"><a href="{{ comment.content_object.get_absolute_url }}">Return to Parent</a></button>
      <hr/>
  {% for child_comment in comment.children %}
      <blockquote>
        <p>{{ child_comment.content|linebreaks }}</p>
        <footer>via <cite title="{{ child_comment.get_user_name }}">{{ child_comment.get_user_name }}</cite>, {{ child_comment.timestamp|timesince }} ago</footer>
      </blockquote>
  {% endfor %}
  {% if form %}
      <!-- Reply form -->
      <form method="POST" action="">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Reply" class="btn btn-default" />
      </form>
  {% endif %}
    </blockquote>
  </div>
</div>
{% endblock %}
