{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
  {{ comment.get_user_name }}'s Comment Delete Confirmation | {{ block.super }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Confirm Delete Comment</h1>
    <form method="POST" action="">{% csrf_token %}
      <p>Are you sure you want to delete the comment "{{ comment.content|truncatewords:20 }}"?</p>
      {% if comment.children %}<p>The action will also delete the whole thread.</p>{% endif %}
      <input type="submit" value="Confirm" class="btn btn-warning" />
      <a href="{{ comment.get_absolute_url }}" class="btn btn-default">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
