{% extends 'base.html' %}
{% load urlify %}

{% block head_title %}
  {{ instance.title }} | {{ block.super }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  {% if instance.image %}
  	<img src="{{ instance.image.url }}" class="img-responsive" />
  {% endif %}
    <h1>{{ title }} <small>{{ instance.timestamp }}</small></h1>
  {% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
  {% else %}
    <p>Author: {{ instance.user }}</p>
  {% endif %}

    {{ instance.content|linebreaks }}<br/>

    <!-- Facebook Share Link -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
      Facebook
    </a>

    <!-- Twitter Share Link -->
    <a href="https://twitter.com/home?status={{ instance.content|truncatechars:108|urlify }}%20{{ request.build_absolute_uri }}" target="_blank">
      Twitter
    </a>

    <!-- Google-plus Share Link -->
    <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank">
      Google+
    </a>

    <!-- Linkedin Share Link -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ instance.content|truncatewords:100|urlify }}&source={{ request.build_absolute_uri }}" target="_blank">
      Linkedin
    </a>

    <!-- Reddit Share Link -->
    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ instance.title }}" target="_blank">
      Reddit
    </a>

  </div>
</div>
{% endblock %}
